<script async defer data-domain="viktorvan.github.io" src="https://plausible.io/js/plausible.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script> 
<script>
    document.addEventListener("click", function(event) {
        if (event.target.closest('a[href="https://github.com/viktorvan"]'))
        {
            plausible('GithubProfile')
        }
        if (event.target.closest('a[href="https://twitter.com/Emmet_Ray"]'))
        {
            plausible('TwitterProfile')
        }
        if (event.target.closest('a[href="https://www.linkedin.com/in/viktorand/"]'))
        {
            plausible('LinkedInProfile')
        }
    });
</script>
<link rel="stylesheet" href="style.css">